<!DOCTYPE html>
<html lang="en">

<head>
    ...
    <title>Update Movie Rating</title>
    ...
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flashes">
        {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    ...

    <div class="centered-content">
        <h2>Update Rating for {{ movie.title }}</h2>
        <form action="{{ url_for('update_movie', user_id=user_id, movie_id=movie.id) }}" method="post">
            <input type="text" name="new_rating" placeholder="Enter new rating" value="{{ movie.imdb_rating }}">
            <input type="submit" class="user-link" value="Update Rating">
        </form>
    </div>

    ...
</body>

</html>
