<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie Web App - {{ user.name }}'s Movies</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <div class="flashes">
        {% for category, message in messages %}
        <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
    </div>
    {% endif %}
    {% endwith %}

    <div class="header">
        <h1>{{ user.name }}'s Movies</h1>
    </div>
    <ul>
        {% for movie in movies %}
        <li>
            <div class="movie-item">
                <img src="{{ movie.poster_url }}" alt="{{ movie.title }} poster" class="movie-poster">
                <div class="movie-details">
                    <h2 class="movie-title">{{ movie.title }} ({{ movie.year }})</h2>
                    <span class="movie-rating">IMDb rating: {{ movie.imdb_rating }}/10</span>

                    {% if movie.reviews %}
                    {% set review = movie.reviews[0] %}
                    <div class="review-content">
                        <p>{{ review.content }}</p>
                    </div>
                    <div class="review-actions">
                        <form action="{{ url_for('delete_review', user_id=user.id, review_id=review.id) }}" method="post" style="display: inline;">
                            <input type="submit" class="delete-link" value="Delete Review">
                        </form>
                        <a href="{{ url_for('update_review', user_id=user.id, review_id=review.id) }}" class="user-link">Update Review</a>
                    </div>
                    {% else %}
                    <div class="add-review">
                        <a href="{{ url_for('add_review', user_id=user.id, movie_id=movie.id) }}" class="user-link">Add Review</a>
                    </div>
                    {% endif %}
                </div>
                <div class="movie-actions">
                    <a href="{{ url_for('update_movie', user_id=user.id, movie_id=movie.id) }}" class="user-link">Update</a>
                    <form action="{{ url_for('delete_movie', user_id=user.id, movie_id=movie.id) }}" method="post" style="display: inline;">
                        <input type="submit" class="delete-link" value="Delete">
                    </form>
                </div>
            </div>
        </li>
        {% endfor %}
    </ul>

    <div class="centered-content">
        <a href="{{ url_for('add_movie', user_id=user.id) }}" class="user-link">Add Movie</a>
    </div>

</body>

</html>
